@import "tailwindcss";

@theme {
  --color-background: #f8f9fc;
  --color-primary: #313e7c;
  --color-secondary: #ffffff;
  --color-tertiary: #625d93;
  --color-primary-50: #f8f8fc;
  --color-primary-100: #edeff8;
  --color-primary-200: #dbdef0;
  --color-primary-300: #bdc4e5;
  --color-primary-400: #7c89cb;
  --color-primary-500: #4354a8;
  --color-primary-600: #303c78;
  --color-primary-700: #232c58;
  --color-primary-800: #141933;
  --color-primary-900: #0a0d1a;
  --color-primary-950: #06070f;
  --color-secondary-50: #f7f8fd;
  --color-secondary-100: #eceef9;
  --color-secondary-200: #d8def3;
  --color-secondary-300: #b9c3e9;
  --color-secondary-400: #7387d3;
  --color-secondary-500: #3851b2;
  --color-secondary-600: #283a80;
  --color-secondary-700: #1d2a5d;
  --color-secondary-800: #111936;
  --color-secondary-900: #090c1b;
  --color-secondary-950: #050710;
  --color-tertiary-50: #f9f9fb;
  --color-tertiary-100: #f0eff5;
  --color-tertiary-200: #e1e0eb;
  --color-tertiary-300: #c9c7db;
  --color-tertiary-400: #938fb7;
  --color-tertiary-500: #615b8f;
  --color-tertiary-600: #454267;
  --color-tertiary-700: #32304b;
  --color-tertiary-800: #1d1c2c;
  --color-tertiary-900: #0f0e16;
  --color-tertiary-950: #08080c;
  --card: #fff;
}

html {
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}
